@charset "utf-8";

#row108 {
    padding-top: 4.179728317659352%;
}

#row108 {
    padding-right: 5.22466039707419%;
}

#row108 {
    padding-bottom: 4.702194357366771%;
}

#row108 {
    padding-left: 5.22466039707419%;
}

    #row108 > .jz_web_row__content > .jz_web_col0 {
        padding: 0;
    }

    #row108 > .jz_web_row__content > .jz_web_col0 {
        margin: 0;
    }

@media screen and (max-width: 768px) {
    #row108 {
        padding-top: 0.0%;
    }

    #row108 {
        padding-right: 0.0%;
    }

    #row108 {
        padding-bottom: 0.0%;
    }

    #row108 {
        padding-left: 0.0%;
    }

        #row108 > .jz_web_row__content > .jz_web_col0 {
            margin: 0;
        }
}

#row105 {
    background-image: url(//18218994.s61i.faiusr.com/2/AD0I8v-XCBACGAAgkJOs5AUowN_o-AcwgA842AQ.jpg);
}

#row105 {
    background-repeat: no-repeat;
}

#row105 {
    background-position: top left;
}

#row105 {
    background-color: #fff;
}

#row105 {
    padding-top: 0.0%;
}

#row105 {
    padding-right: 0.0%;
}

#row105 {
    padding-bottom: 0.0%;
}

#row105 {
    padding-left: 36.57262277951933%;
}

    #row105 > .jz_web_row__content > .jz_web_col0 {
        padding-top: 0.0%;
    }

    #row105 > .jz_web_row__content > .jz_web_col0 {
        padding-right: 0.0%;
    }

    #row105 > .jz_web_row__content > .jz_web_col0 {
        padding-bottom: 9.93647281712253%;
    }

    #row105 > .jz_web_row__content > .jz_web_col0 {
        padding-left: 0.0%;
    }

    #row105 > .jz_web_row__content > .jz_web_col0 {
        margin: 0;
    }

    #row105 > .jz_web_row__content > .jz_web_col0 {
        background-image: url(//18218994.s61i.faiusr.com/2/AD0I8v-XCBACGAAgt8On4AUoob-j_wIwwAc42AQ.jpg);
    }

    #row105 > .jz_web_row__content > .jz_web_col0 {
        background-repeat: no-repeat;
    }

    #row105 > .jz_web_row__content > .jz_web_col0 {
        background-position: center right;
    }

    #row105 > .jz_web_row__content > .jz_web_col0 {
        background-color: rgba(0,0,0,0);
    }

@media screen and (max-width: 768px) {
    #row105 {
        background: rgba(51,51,51,1);
    }

    #row105 {
        padding-top: 0.0%;
    }

    #row105 {
        padding-right: 0.0%;
    }

    #row105 {
        padding-bottom: 0.0%;
    }

    #row105 {
        padding-left: 0.0%;
    }

        #row105 > .jz_web_row__content > .jz_web_col0 {
            margin: 0;
        }
}

#row112 {
    padding-top: 5.22466039707419%;
}

#row112 {
    padding-right: 5.22466039707419%;
}

#row112 {
    padding-bottom: 2.089864158829676%;
}

#row112 {
    padding-left: 5.22466039707419%;
}

    #row112 > .jz_web_row__content > .jz_web_col0 {
        padding: 0;
    }

    #row112 > .jz_web_row__content > .jz_web_col0 {
        margin: 0;
    }

@media screen and (max-width: 768px) {
    #row112 {
        padding-top: 0.0%;
    }

    #row112 {
        padding-right: 0.0%;
    }

    #row112 {
        padding-bottom: 0.0%;
    }

    #row112 {
        padding-left: 0.0%;
    }

        #row112 > .jz_web_row__content > .jz_web_col0 {
            margin: 0;
        }
}

#row111 {
    background-image: url(//18218994.s61i.faiusr.com/2/AD0I8v-XCBACGAAgi8mn4AUo2OjCkQIwgA84ygI.jpg);
}

#row111 {
    background-repeat: no-repeat;
}

#row111 {
    background-position: bottom center;
}

#row111 {
    background-color: #fff;
}

#row111 {
    padding-top: 0.0%;
}

#row111 {
    padding-right: 3.657262277951933%;
}

#row111 {
    padding-bottom: 3.657262277951933%;
}

#row111 {
    padding-left: 3.657262277951933%;
}

    #row111 > .jz_web_row__content > .jz_web_col0 {
        padding: 0;
    }

    #row111 > .jz_web_row__content > .jz_web_col0 {
        margin: 0;
    }

    #row111 > .jz_web_row__content > .jz_web_col1 {
        padding: 0;
    }

    #row111 > .jz_web_row__content > .jz_web_col1 {
        margin: 0;
    }

    #row111 > .jz_web_row__content > .jz_web_col2 {
        padding: 0;
    }

    #row111 > .jz_web_row__content > .jz_web_col2 {
        margin: 0;
    }

@media screen and (max-width: 768px) {
    #row111 {
        padding-top: 0.0%;
    }

    #row111 {
        padding-right: 0.0%;
    }

    #row111 {
        padding-bottom: 0.0%;
    }

    #row111 {
        padding-left: 0.0%;
    }

        #row111 > .jz_web_row__content > .jz_web_col0 {
            margin: 0;
        }

        #row111 > .jz_web_row__content > .jz_web_col1 {
            margin: 0;
        }

        #row111 > .jz_web_row__content > .jz_web_col2 {
            margin: 0;
        }
}

#row114 {
    padding-top: 4.702194357366771%;
}

#row114 {
    padding-right: 5.22466039707419%;
}

#row114 {
    padding-bottom: 1.5673981191222568%;
}

#row114 {
    padding-left: 5.22466039707419%;
}

    #row114 > .jz_web_row__content > .jz_web_col0 {
        padding: 0;
    }

    #row114 > .jz_web_row__content > .jz_web_col0 {
        margin: 0;
    }

@media screen and (max-width: 768px) {
    #row114 {
        padding-top: 0.0%;
    }

    #row114 {
        padding-right: 0.0%;
    }

    #row114 {
        padding-bottom: 0.0%;
    }

    #row114 {
        padding-left: 0.0%;
    }

        #row114 > .jz_web_row__content > .jz_web_col0 {
            margin: 0;
        }
}

#row113 {
    padding-top: 0.522466039707419%;
}

#row113 {
    padding-right: 4.179728317659352%;
}

#row113 {
    padding-bottom: 8.359456635318704%;
}

#row113 {
    padding-left: 4.179728317659352%;
}

    #row113 > .jz_web_row__content > .jz_web_col0 {
        padding: 0;
    }

    #row113 > .jz_web_row__content > .jz_web_col0 {
        margin: 0;
    }

    #row113 > .jz_web_row__content > .jz_web_col1 {
        padding: 0;
    }

    #row113 > .jz_web_row__content > .jz_web_col1 {
        margin: 0;
    }

    #row113 > .jz_web_row__content > .jz_web_col2 {
        padding: 0;
    }

    #row113 > .jz_web_row__content > .jz_web_col2 {
        margin: 0;
    }

    #row113 > .jz_web_row__content > .jz_web_col3 {
        padding: 0;
    }

    #row113 > .jz_web_row__content > .jz_web_col3 {
        margin: 0;
    }

@media screen and (max-width: 768px) {
    #row113 {
        padding-top: 0.0%;
    }

    #row113 {
        padding-right: 0.0%;
    }

    #row113 {
        padding-bottom: 0.0%;
    }

    #row113 {
        padding-left: 0.0%;
    }

        #row113 > .jz_web_row__content > .jz_web_col0 {
            margin: 0;
        }

        #row113 > .jz_web_row__content > .jz_web_col1 {
            margin: 0;
        }

        #row113 > .jz_web_row__content > .jz_web_col2 {
            margin: 0;
        }

        #row113 > .jz_web_row__content > .jz_web_col3 {
            margin: 0;
        }
}

#row116 {
    padding-top: 0.0%;
}

#row116 {
    padding-right: 0.0%;
}

#row116 {
    padding-bottom: 0.0%;
}

#row116 {
    padding-left: 0.0%;
}

    #row116 > .jz_web_row__content > .jz_web_col0 {
        padding: 0;
    }

    #row116 > .jz_web_row__content > .jz_web_col0 {
        margin: 0;
    }

    #row116 > .jz_web_row__content > .jz_web_col1 {
        padding: 0;
    }

    #row116 > .jz_web_row__content > .jz_web_col1 {
        margin: 0;
    }

@media screen and (max-width: 768px) {
    #row116 {
        padding-top: 0.0%;
    }

    #row116 {
        padding-right: 0.0%;
    }

    #row116 {
        padding-bottom: 0.0%;
    }

    #row116 {
        padding-left: 0.0%;
    }

        #row116 > .jz_web_row__content > .jz_web_col0 {
            margin: 0;
        }

        #row116 > .jz_web_row__content > .jz_web_col1 {
            margin: 0;
        }
}

#row115 {
    padding-top: 3.657262277951933%;
}

#row115 {
    padding-right: 5.22466039707419%;
}

#row115 {
    padding-bottom: 5.22466039707419%;
}

#row115 {
    padding-left: 5.22466039707419%;
}

    #row115 > .jz_web_row__content > .jz_web_col0 {
        padding: 0;
    }

    #row115 > .jz_web_row__content > .jz_web_col0 {
        margin: 0;
    }

@media screen and (max-width: 768px) {
    #row115 {
        padding-top: 0.0%;
    }

    #row115 {
        padding-right: 0.0%;
    }

    #row115 {
        padding-bottom: 0.0%;
    }

    #row115 {
        padding-left: 0.0%;
    }

        #row115 > .jz_web_row__content > .jz_web_col0 {
            margin: 0;
        }
}

#row3 {
    padding-top: 0.0%;
}

#row3 {
    padding-right: 0.0%;
}

#row3 {
    padding-bottom: 1.044932079414838%;
}

#row3 {
    padding-left: 0.0%;
}

    #row3 > .jz_web_row__content > .jz_web_col0 {
        padding: 0;
    }

    #row3 > .jz_web_row__content > .jz_web_col0 {
        margin: 0;
    }

    #row3 > .jz_web_row__content > .jz_web_col1 {
        padding: 0;
    }

    #row3 > .jz_web_row__content > .jz_web_col1 {
        margin: 0;
    }

@media screen and (max-width: 768px) {
    #row3 {
        padding-top: 0.0%;
    }

    #row3 {
        padding-right: 0.0%;
    }

    #row3 {
        padding-bottom: 0.0%;
    }

    #row3 {
        padding-left: 0.0%;
    }

        #row3 > .jz_web_row__content > .jz_web_col0 {
            margin: 0;
        }

        #row3 > .jz_web_row__content > .jz_web_col1 {
            margin: 0;
        }
}

#row4 {
    background: rgba(51,51,51,1);
}

#row4 {
    padding-top: 0.5208333333333333%;
}

#row4 {
    padding-right: 5.208333333333334%;
}

#row4 {
    padding-bottom: 0.10416666666666667%;
}

#row4 {
    padding-left: 5.208333333333334%;
}

    #row4 > .jz_web_row__content > .jz_web_col0 {
        padding: 0;
    }

    #row4 > .jz_web_row__content > .jz_web_col0 {
        margin: 0;
    }

    #row4 > .jz_web_row__content > .jz_web_col1 {
        padding: 0;
    }

    #row4 > .jz_web_row__content > .jz_web_col1 {
        margin: 0;
    }

@media screen and (max-width: 768px) {
    #row4 {
        padding-top: 0.0%;
    }

    #row4 {
        padding-right: 0.0%;
    }

    #row4 {
        padding-bottom: 0.0%;
    }

    #row4 {
        padding-left: 0.0%;
    }

        #row4 > .jz_web_row__content > .jz_web_col0 {
            margin: 0;
        }

        #row4 > .jz_web_row__content > .jz_web_col1 {
            margin: 0;
        }
}

#row106 {
    padding-top: 0.0%;
}

#row106 {
    padding-right: 0.0%;
}

#row106 {
    padding-bottom: 0.0%;
}

#row106 {
    padding-left: 0.0%;
}

    #row106 > .jz_web_row__content > .jz_web_col0 {
        padding: 0;
    }

    #row106 > .jz_web_row__content > .jz_web_col0 {
        margin: 0;
    }

@media screen and (max-width: 768px) {
    #row106 {
        padding-top: 0.0%;
    }

    #row106 {
        padding-right: 0.0%;
    }

    #row106 {
        padding-bottom: 0.0%;
    }

    #row106 {
        padding-left: 0.0%;
    }

        #row106 > .jz_web_row__content > .jz_web_col0 {
            margin: 0;
        }
}

#row107 {
    padding-top: 0.0%;
}

#row107 {
    padding-right: 0.0%;
}

#row107 {
    padding-bottom: 0.0%;
}

#row107 {
    padding-left: 0.0%;
}

    #row107 > .jz_web_row__content > .jz_web_col0 {
        padding: 0;
    }

    #row107 > .jz_web_row__content > .jz_web_col0 {
        margin: 0;
    }

@media screen and (max-width: 768px) {
    #row107 {
        padding-top: 0.0%;
    }

    #row107 {
        padding-right: 0.0%;
    }

    #row107 {
        padding-bottom: 0.0%;
    }

    #row107 {
        padding-left: 0.0%;
    }

        #row107 > .jz_web_row__content > .jz_web_col0 {
            margin: 0;
        }
}

#module302 .module_banner {
    display: none;
}

#module302 {
    margin-top: 0.0%;
}

#module302 {
    margin-right: 68.08634772462077%;
}

#module302 {
    margin-bottom: 0.0%;
}

#module302 {
    margin-left: 0.0%;
}

@media screen and (min-width: 769px) {
}

@media screen and (max-width: 768px) {
    #module302 .module_banner {
        display: none;
    }

    #module302 {
        margin-top: 2.666%;
    }

    #module302 {
        margin-right: 3.733%;
    }

    #module302 {
        margin-bottom: 1.333%;
    }

    #module302 {
        margin-left: 3.733%;
    }
}

#module303 .module_banner {
    display: none;
}

#module303 {
    margin-top: 0.0%;
}

#module303 {
    margin-right: 68.20303383897316%;
}

#module303 {
    margin-bottom: 0.0%;
}

#module303 {
    margin-left: 0.0%;
}

@media screen and (min-width: 769px) {
}

@media screen and (max-width: 768px) {
    #module303 .module_banner {
        display: none;
    }

    #module303 {
        margin-top: 2.666%;
    }

    #module303 {
        margin-right: 3.733%;
    }

    #module303 {
        margin-bottom: 1.333%;
    }

    #module303 {
        margin-left: 3.733%;
    }
}

#module301 .module_banner {
    display: none;
}

#module301 {
    margin-top: 0.0%;
}

#module301 {
    margin-right: 0.0%;
}

#module301 {
    margin-bottom: 0.0%;
}

#module301 {
    margin-left: 0.0%;
}

    #module301 .exhibition_product_pic_wrap {
        padding-bottom: 72.58064516129032%;
    }

@media screen and (min-width: 769px) {
    #module301 .exhibition_show_product {
        width: calc(24.99% - 20px);
    }
}

@media screen and (max-width: 768px) {
    #module301 .module_banner {
        display: none;
    }

    #module301 {
        margin-top: 0.0%;
    }

    #module301 {
        margin-right: 0.0%;
    }

    #module301 {
        margin-bottom: 0.0%;
    }

    #module301 {
        margin-left: 0.0%;
    }
}

#module304 .module_banner {
    display: none;
}

#module304 {
    margin-top: 1.4002333722287048%;
}

#module304 {
    margin-right: 45.27421236872812%;
}

#module304 {
    margin-bottom: 0.0%;
}

#module304 {
    margin-left: 45.33255542590432%;
}

    #module304 .module_button_content {
        border-radius: 0px;
        border: 1px solid rgba(238,238,238,1);
        font-family: 微软雅黑;
        font-size: 14px;
        color: rgba(102,102,102,1);
    }

        #module304 .module_button_content:hover {
            border-color: #52b548;
            color: #fff;
        }

        #module304 .module_button_content .after {
        }

    #module304 .module_content {
        height: 46px;
    }

@media screen and (min-width: 769px) {
}

@media screen and (max-width: 768px) {
    #module304 .module_banner {
        display: none;
    }

    #module304 {
        margin-top: 2.666%;
    }

    #module304 {
        margin-right: 22.400000000000002%;
    }

    #module304 {
        margin-bottom: 1.333%;
    }

    #module304 {
        margin-left: 23.466666666666665%;
    }
}

#module305 .module_banner {
    display: none;
}

#module305 {
    margin-top: 9.390444810543658%;
}

#module305 {
    margin-right: 28.5831960461285%;
}

#module305 {
    margin-bottom: 0.0%;
}

#module305 {
    margin-left: 46.540362438220754%;
}

@media screen and (min-width: 769px) {
}

@media screen and (max-width: 768px) {
    #module305 .module_banner {
        display: none;
    }

    #module305 {
        margin-top: 6.933333333333333%;
    }

    #module305 {
        margin-right: 3.733%;
    }

    #module305 {
        margin-bottom: 1.333%;
    }

    #module305 {
        margin-left: 3.733%;
    }
}

#module306 .module_banner {
    display: none;
}

#module306 {
    margin-top: 5.329153605015674%;
}

#module306 {
    margin-right: 7.742998352553541%;
}

#module306 {
    margin-bottom: 0.0%;
}

#module306 {
    margin-left: 27.75947281713344%;
}

@media screen and (min-width: 769px) {
}

@media screen and (max-width: 768px) {
    #module306 .module_banner {
        display: none;
    }

    #module306 {
        margin-top: 2.666%;
    }

    #module306 {
        margin-right: 3.733%;
    }

    #module306 {
        margin-bottom: 1.333%;
    }

    #module306 {
        margin-left: 3.733%;
    }
}

#module307 .module_banner {
    display: none;
}

#module307 {
    margin-top: 6.165099268547544%;
}

#module307 {
    margin-right: 33.031301482701814%;
}

#module307 {
    margin-bottom: 0.0%;
}

#module307 {
    margin-left: 50.0823723228995%;
}

    #module307 .module_button_content {
        border-radius: 0px;
        border: 1px solid rgba(255,255,255,1);
        font-family: 微软雅黑;
        font-size: 14px;
        color: rgba(255,255,255,1);
    }

        #module307 .module_button_content:hover {
            border-color: #52b548;
            color: #fff;
        }

        #module307 .module_button_content .after {
        }

    #module307 .module_content {
        height: 48px;
    }

@media screen and (min-width: 769px) {
}

@media screen and (max-width: 768px) {
    #module307 .module_banner {
        display: none;
    }

    #module307 {
        margin-top: 2.666%;
    }

    #module307 {
        margin-right: 21.333333333333336%;
    }

    #module307 {
        margin-bottom: 1.333%;
    }

    #module307 {
        margin-left: 21.866666666666667%;
    }
}

#module314 .module_banner {
    display: none;
}

#module314 {
    margin-top: 0.0%;
}

#module314 {
    margin-right: 0.0%;
}

#module314 {
    margin-bottom: 0.0%;
}

#module314 {
    margin-left: 0.0%;
}

@media screen and (min-width: 769px) {
}

@media screen and (max-width: 768px) {
    #module314 .module_banner {
        display: none;
    }

    #module314 {
        margin-top: 2.666%;
    }

    #module314 {
        margin-right: 3.733%;
    }

    #module314 {
        margin-bottom: 1.333%;
    }

    #module314 {
        margin-left: 3.733%;
    }
}

#module315 .module_banner {
    display: none;
}

#module315 {
    margin-top: 0.0%;
}

#module315 {
    margin-right: 0.0%;
}

#module315 {
    margin-bottom: 0.0%;
}

#module315 {
    margin-left: 0.0%;
}

@media screen and (min-width: 769px) {
}

@media screen and (max-width: 768px) {
    #module315 .module_banner {
        display: none;
    }

    #module315 {
        margin-top: 2.666%;
    }

    #module315 {
        margin-right: 3.733%;
    }

    #module315 {
        margin-bottom: 1.333%;
    }

    #module315 {
        margin-left: 3.733%;
    }
}

#module320 .module_banner {
    display: none;
}

#module320 {
    margin-top: 0.0%;
}

#module320 {
    margin-right: 13.19796954314721%;
}

#module320 {
    margin-bottom: 0.0%;
}

#module320 {
    margin-left: 14.551607445008461%;
}

@media screen and (min-width: 769px) {
}

@media screen and (max-width: 768px) {
    #module320 .module_banner {
        display: none;
    }

    #module320 {
        margin-top: 2.666%;
    }

    #module320 {
        margin-right: 3.733%;
    }

    #module320 {
        margin-bottom: 1.333%;
    }

    #module320 {
        margin-left: 3.733%;
    }
}

#module324 .module_banner {
    display: none;
}

#module324 {
    margin-top: 0.0%;
}

#module324 {
    margin-right: 18.61252115059222%;
}

#module324 {
    margin-bottom: 0.0%;
}

#module324 {
    margin-left: 19.4585448392555%;
}

@media screen and (min-width: 769px) {
}

@media screen and (max-width: 768px) {
    #module324 .module_banner {
        display: none;
    }

    #module324 {
        margin-top: 2.666%;
    }

    #module324 {
        margin-right: 3.2%;
    }

    #module324 {
        margin-bottom: 1.333%;
    }

    #module324 {
        margin-left: 6.4%;
    }
}

#module323 .module_banner {
    display: none;
}

#module323 {
    margin-top: 0.0%;
}

#module323 {
    margin-right: 32.31810490693739%;
}

#module323 {
    margin-bottom: 0.0%;
}

#module323 {
    margin-left: 19.289340101522843%;
}

@media screen and (min-width: 769px) {
}

@media screen and (max-width: 768px) {
    #module323 .module_banner {
        display: none;
    }

    #module323 {
        margin-top: 2.666%;
    }

    #module323 {
        margin-right: 3.733%;
    }

    #module323 {
        margin-bottom: 1.333%;
    }

    #module323 {
        margin-left: 3.733%;
    }
}

#module319 .module_banner {
    display: none;
}

#module319 {
    margin-top: 0.0%;
}

#module319 {
    margin-right: 13.536379018612521%;
}

#module319 {
    margin-bottom: 0.0%;
}

#module319 {
    margin-left: 13.874788494077833%;
}

@media screen and (min-width: 769px) {
}

@media screen and (max-width: 768px) {
    #module319 .module_banner {
        display: none;
    }

    #module319 {
        margin-top: 2.666%;
    }

    #module319 {
        margin-right: 3.733%;
    }

    #module319 {
        margin-bottom: 1.333%;
    }

    #module319 {
        margin-left: 3.733%;
    }
}

#module322 .module_banner {
    display: none;
}

#module322 {
    margin-top: 0.0%;
}

#module322 {
    margin-right: 33.840947546531304%;
}

#module322 {
    margin-bottom: 0.0%;
}

#module322 {
    margin-left: 18.44331641285956%;
}

@media screen and (min-width: 769px) {
}

@media screen and (max-width: 768px) {
    #module322 .module_banner {
        display: none;
    }

    #module322 {
        margin-top: 2.666%;
    }

    #module322 {
        margin-right: 12.0%;
    }

    #module322 {
        margin-bottom: 1.333%;
    }

    #module322 {
        margin-left: 8.799999999999999%;
    }
}

#module321 .module_banner {
    display: none;
}

#module321 {
    margin-top: 0.0%;
}

#module321 {
    margin-right: 31.64128595600677%;
}

#module321 {
    margin-bottom: 0.0%;
}

#module321 {
    margin-left: 18.274111675126903%;
}

@media screen and (min-width: 769px) {
}

@media screen and (max-width: 768px) {
    #module321 .module_banner {
        display: none;
    }

    #module321 {
        margin-top: 2.666%;
    }

    #module321 {
        margin-right: 3.733%;
    }

    #module321 {
        margin-bottom: 1.333%;
    }

    #module321 {
        margin-left: 3.733%;
    }
}

#module316 .module_banner {
    display: none;
}

#module316 {
    margin-top: 0.0%;
}

#module316 {
    margin-right: 13.19796954314721%;
}

#module316 {
    margin-bottom: 0.0%;
}

#module316 {
    margin-left: 14.213197969543149%;
}

@media screen and (min-width: 769px) {
}

@media screen and (max-width: 768px) {
    #module316 .module_banner {
        display: none;
    }

    #module316 {
        margin-top: 2.666%;
    }

    #module316 {
        margin-right: 3.733%;
    }

    #module316 {
        margin-bottom: 1.333%;
    }

    #module316 {
        margin-left: 3.733%;
    }
}

#module317 .module_banner {
    display: none;
}

#module317 {
    margin-top: 0.0%;
}

#module317 {
    margin-right: 23.04075235109718%;
}

#module317 {
    margin-bottom: 0.0%;
}

#module317 {
    margin-left: 19.122257053291534%;
}

@media screen and (min-width: 769px) {
}

@media screen and (max-width: 768px) {
    #module317 .module_banner {
        display: none;
    }

    #module317 {
        margin-top: 2.666%;
    }

    #module317 {
        margin-right: 4.0%;
    }

    #module317 {
        margin-bottom: 1.333%;
    }

    #module317 {
        margin-left: 4.0%;
    }
}

#module318 .module_banner {
    display: none;
}

#module318 {
    margin-top: 0.0%;
}

#module318 {
    margin-right: 17.711598746081506%;
}

#module318 {
    margin-bottom: 0.0%;
}

#module318 {
    margin-left: 19.435736677115987%;
}

@media screen and (min-width: 769px) {
}

@media screen and (max-width: 768px) {
    #module318 .module_banner {
        display: none;
    }

    #module318 {
        margin-top: 2.666%;
    }

    #module318 {
        margin-right: 3.733%;
    }

    #module318 {
        margin-bottom: 1.333%;
    }

    #module318 {
        margin-left: 3.733%;
    }
}

#module325 .module_banner {
    display: none;
}

#module325 {
    margin-top: 0.0%;
}

#module325 {
    margin-right: 0.0%;
}

#module325 {
    margin-bottom: 0.0%;
}

#module325 {
    margin-left: 0.0%;
}

@media screen and (min-width: 769px) {
}

@media screen and (max-width: 768px) {
    #module325 .module_banner {
        display: none;
    }

    #module325 {
        margin-top: 2.666%;
    }

    #module325 {
        margin-right: 3.733%;
    }

    #module325 {
        margin-bottom: 1.333%;
    }

    #module325 {
        margin-left: 3.733%;
    }
}

#module326 .module_banner {
    display: none;
}

#module326 {
    margin-top: 0.0%;
}

#module326 {
    margin-right: 0.0%;
}

#module326 {
    margin-bottom: 0.0%;
}

#module326 {
    margin-left: 0.0%;
}

@media screen and (min-width: 769px) {
}

@media screen and (max-width: 768px) {
    #module326 .module_banner {
        display: none;
    }

    #module326 {
        margin-top: 2.666%;
    }

    #module326 {
        margin-right: 3.733%;
    }

    #module326 {
        margin-bottom: 1.333%;
    }

    #module326 {
        margin-left: 3.733%;
    }
}

#module327 .module_banner {
    display: none;
}

#module327 {
    margin-top: 0.0%;
}

#module327 {
    margin-right: 8.200455580865604%;
}

#module327 {
    margin-bottom: 0.0%;
}

#module327 {
    margin-left: 8.200455580865604%;
}

@media screen and (min-width: 769px) {
    #module327 .online_flv {
        padding-bottom: 76.29427792915531%;
    }
}

@media screen and (max-width: 768px) {
    #module327 .module_banner {
        display: none;
    }

    #module327 {
        margin-top: 0.0%;
    }

    #module327 {
        margin-right: 0.0%;
    }

    #module327 {
        margin-bottom: 0.0%;
    }

    #module327 {
        margin-left: 0.0%;
    }
}

#module328 .module_banner {
    display: none;
}

#module328 {
    margin-top: 0.0%;
}

#module328 {
    margin-right: 7.517084282460136%;
}

#module328 {
    margin-bottom: 0.0%;
}

#module328 {
    margin-left: 9.339407744874716%;
}

@media screen and (min-width: 769px) {
    #module328 .online_flv {
        padding-bottom: 76.71232876712328%;
    }
}

@media screen and (max-width: 768px) {
    #module328 .module_banner {
        display: none;
    }

    #module328 {
        margin-top: 0.0%;
    }

    #module328 {
        margin-right: 0.0%;
    }

    #module328 {
        margin-bottom: 0.0%;
    }

    #module328 {
        margin-left: 0.0%;
    }
}

#module329 .module_banner {
    display: none;
}

#module329 {
    margin-top: 0.0%;
}

#module329 {
    margin-right: 7.972665148063782%;
}

#module329 {
    margin-bottom: 0.0%;
}

#module329 {
    margin-left: 8.88382687927107%;
}

@media screen and (min-width: 769px) {
    #module329 .online_flv {
        padding-bottom: 76.71232876712328%;
    }
}

@media screen and (max-width: 768px) {
    #module329 .module_banner {
        display: none;
    }

    #module329 {
        margin-top: 0.0%;
    }

    #module329 {
        margin-right: 0.0%;
    }

    #module329 {
        margin-bottom: 0.0%;
    }

    #module329 {
        margin-left: 0.0%;
    }
}

#module330 .module_banner {
    display: none;
}

#module330 {
    margin-top: 0.0%;
}

#module330 {
    margin-right: 7.289293849658314%;
}

#module330 {
    margin-bottom: 0.0%;
}

#module330 {
    margin-left: 9.567198177676538%;
}

@media screen and (min-width: 769px) {
    #module330 .online_flv {
        padding-bottom: 76.71232876712328%;
    }
}

@media screen and (max-width: 768px) {
    #module330 .module_banner {
        display: none;
    }

    #module330 {
        margin-top: 0.0%;
    }

    #module330 {
        margin-right: 0.0%;
    }

    #module330 {
        margin-bottom: 0.0%;
    }

    #module330 {
        margin-left: 0.0%;
    }
}

#module331 .module_banner {
    display: none;
}

#module331 {
    margin-top: 0.0%;
}

#module331 {
    margin-right: 6.374085684430512%;
}

#module331 {
    margin-bottom: 0.0%;
}

#module331 {
    margin-left: 0.0%;
}

@media screen and (min-width: 769px) {
}

@media screen and (max-width: 768px) {
    #module331 .module_banner {
        display: none;
    }

    #module331 {
        margin-top: 2.666%;
    }

    #module331 {
        margin-right: 3.733%;
    }

    #module331 {
        margin-bottom: 1.333%;
    }

    #module331 {
        margin-left: 3.733%;
    }
}

#module333 .module_banner {
    display: none;
}

#module333 {
    margin-top: 3.239289446185998%;
}

#module333 {
    margin-right: 50.88819226750261%;
}

#module333 {
    margin-bottom: 0.0%;
}

#module333 {
    margin-left: 0.0%;
}

@media screen and (min-width: 769px) {
}

@media screen and (max-width: 768px) {
    #module333 .module_banner {
        display: none;
    }

    #module333 {
        margin-top: 2.666%;
    }

    #module333 {
        margin-right: 3.733%;
    }

    #module333 {
        margin-bottom: 1.333%;
    }

    #module333 {
        margin-left: 3.733%;
    }
}

#module334 .module_banner {
    display: none;
}

#module334 {
    margin-top: 0.0%;
}

#module334 {
    margin-right: 63.53187042842215%;
}

#module334 {
    margin-bottom: 0.0%;
}

#module334 {
    margin-left: 0.0%;
}

@media screen and (min-width: 769px) {
}

@media screen and (max-width: 768px) {
    #module334 .module_banner {
        display: none;
    }

    #module334 {
        margin-top: 2.666%;
    }

    #module334 {
        margin-right: 3.733%;
    }

    #module334 {
        margin-bottom: 1.333%;
    }

    #module334 {
        margin-left: 3.733%;
    }
}

#module332 .module_banner {
    display: none;
}

#module332 {
    margin-top: 0.0%;
}

#module332 {
    margin-right: 10.44932079414838%;
}

#module332 {
    margin-bottom: 0.0%;
}

#module332 {
    margin-left: 0.0%;
}

    #module332 .news_list_img {
        padding-top: 64.1711229946524%;
    }

@media screen and (min-width: 769px) {
    #module332 .news_list_item_line {
        width: calc(100% / 2 - 20px);
    }

    #module332 .news_list_img_box {
        width: 1, 0%;
    }

    #module332 .news_list_img {
        padding-top: 64.1711229946524%;
    }
}

@media screen and (max-width: 768px) {
    #module332 .module_banner {
        display: none;
    }

    #module332 {
        margin-top: 0.0%;
    }

    #module332 {
        margin-right: 0.0%;
    }

    #module332 {
        margin-bottom: 0.0%;
    }

    #module332 {
        margin-left: 0.0%;
    }
}

#module335 .module_banner {
    display: none;
}

#module335 {
    margin-top: 0.0%;
}

#module335 {
    margin-right: 0.0%;
}

#module335 {
    margin-bottom: 0.0%;
}

#module335 {
    margin-left: 0.0%;
}

@media screen and (min-width: 769px) {
}

@media screen and (max-width: 768px) {
    #module335 .module_banner {
        display: none;
    }

    #module335 {
        margin-top: 2.666%;
    }

    #module335 {
        margin-right: 3.733%;
    }

    #module335 {
        margin-bottom: 1.333%;
    }

    #module335 {
        margin-left: 3.733%;
    }
}

#module336 .module_banner {
    display: none;
}

#module336 {
    margin-top: 0.0%;
}

#module336 {
    margin-right: 0.0%;
}

#module336 {
    margin-bottom: 0.0%;
}

#module336 {
    margin-left: 0.0%;
}

@media screen and (min-width: 769px) {
}

@media screen and (max-width: 768px) {
    #module336 .module_banner {
        display: none;
    }

    #module336 {
        margin-top: 2.666%;
    }

    #module336 {
        margin-right: 3.733%;
    }

    #module336 {
        margin-bottom: 1.333%;
    }

    #module336 {
        margin-left: 3.733%;
    }
}

#module337 .module_banner {
    display: none;
}

#module337 {
    margin-top: 0.0%;
}

#module337 {
    margin-right: 0.0%;
}

#module337 {
    margin-bottom: 0.0%;
}

#module337 {
    margin-left: 0.0%;
}

    #module337 .photo_desc {
        display: block;
    }

    #module337 .photo_item0 {
        background-image: url('//18218994.s61i.faiusr.com/2/AD0I8v-XCBACGAAg95Go4AUo1bunUzDmATh4.jpg');
    }

    #module337 .photo_item1 {
        background-image: url('//18218994.s61i.faiusr.com/2/AD0I8v-XCBACGAAg95Go4AUo3_H8ygUw5gE4eA.jpg');
    }

    #module337 .photo_item2 {
        background-image: url('//18218994.s61i.faiusr.com/2/AD0I8v-XCBACGAAg95Go4AUosM36TjDmATh4.jpg');
    }

    #module337 .photo_item3 {
        background-image: url('//18218994.s61i.faiusr.com/2/AD0I8v-XCBACGAAg95Go4AUo0ceZkQIw5gE4eA.jpg');
    }

    #module337 .photo_item4 {
        background-image: url('//18218994.s61i.faiusr.com/2/AD0I8v-XCBACGAAg95Go4AUo0futxwIw5gE4eA.jpg');
    }

    #module337 .photo_item5 {
        background-image: url('//18218994.s61i.faiusr.com/2/AD0I8v-XCBACGAAg_ZGo4AUorKLGggcw5gE4eA.jpg');
    }

    #module337 .photo_item {
        padding-bottom: 41.95804195804196%;
    }

    #module337 .photo_item {
        background-size: auto;
        background-position: center;
        background-repeat: no-repeat;
    }

@media screen and (min-width: 769px) {
    #module337 .photo_display_area > li {
        padding: 20.0px 0.0px;
    }

    #module337 .photo_display_area > li {
        width: 16.666666%
    }
}

@media screen and (max-width: 768px) {
    #module337 .module_banner {
        display: none;
    }

    #module337 {
        margin-top: 0.0%;
    }

    #module337 {
        margin-right: 0.0%;
    }

    #module337 {
        margin-bottom: 0.0%;
    }

    #module337 {
        margin-left: 0.0%;
    }

        #module337 .photo_desc {
            display: block;
        }
}

#module338 .module_banner {
    display: none;
}

#module338 {
    margin-top: 0.0%;
}

#module338 {
    margin-right: 21.30637636080871%;
}

#module338 {
    margin-bottom: 0.0%;
}

#module338 {
    margin-left: 0.0%;
}

@media screen and (min-width: 769px) {
}

@media screen and (max-width: 768px) {
    #module338 .module_banner {
        display: none;
    }

    #module338 {
        margin-top: 4.25531914893617%;
    }

    #module338 {
        margin-right: 0.0%;
    }

    #module338 {
        margin-bottom: 1.333%;
    }

    #module338 {
        margin-left: 1.5957446808510638%;
    }
}

.jz_nav_wrap {
    margin-top: 3.136200716845878%;
}

.jz_nav_wrap {
    margin-right: 0.0%;
}

.jz_nav_wrap {
    margin-bottom: 0.0%;
}

.jz_nav_wrap {
    margin-left: 10.931899641577061%;
}

.jz_web_header .jz_nav {
}

.jz_web_header .jz_nav_item {
    min-width: 120px;
    height: 42px;
    line-height: 42px;
    border-width: 0px;
    border-top-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-right-style: none;
}

#gridHeader.jz_web_header .jz_nav_item.jz_nav_item_selected, #gridHeader.jz_web_header .jz_nav_item:hover {
    background: rgba(82,181,72,1);
}

.jz_web_header .jz_nav_item:not(.sub_nav_item) {
    font-size: 14px;
    font-family: 微软雅黑;
}

.jz_web_header .nav_item_septal {
    font-size: 14px;
}

.jz_web_header .jz_nav_layout0 .sub_nav_list, .jz_web_header .jz_nav_layout0 .three_nav_list {
}

.jz_web_header .jz_nav_layout0 .sub_nav_item, .jz_web_header .jz_nav_layout0 .three_nav_item {
}

.jz_web_header .sub_nav_list, .jz_web_header .three_nav_list {
}

.jz_web_header .sub_nav_item, .jz_web_header .three_nav_item {
    text-decoration: none;
    font-weight: normal;
    font-style: normal;
}

.jz_mobi_header .jz_nav_item {
}

.jz_mobi_header .sub_nav_item {
}

.jz_mobi_header .sub_nav_item_text {
}

.jz_mobi_header .three_nav_item {
}

.jz_mobi_header .three_nav_item_text {
}

.jz_web_header li.jz_nav_item:not(.jz_nav_item_selected):not(.jz_nav_item_active) {
    border-color: rgba(0,0,0,0);
}

.jz_web_header li.jz_nav_item_selected, .jz_web_header .jz_nav_list .jz_nav_item:hover {
    border-color: rgba(255,255,255,1);
}

.jz_web_header .jz_nav_item:not(.jz_nav_item_selected):not(.jz_nav_item_active) .nav_item_text_wrap {
    color: rgba(153,153,153,1);
}

.jz_web_header .jz_nav .jz_nav_item_selected .nav_item_text_wrap, .jz_web_header .jz_nav .jz_nav_item:hover .nav_item_text_wrap {
    color: rgba(255,255,255,1);
}

.jz_nav_wrap {
    margin-top: 0.0%;
}

.jz_nav_wrap {
    margin-right: 0.0%;
}

.jz_nav_wrap {
    margin-bottom: 0.0%;
}

.jz_nav_wrap {
    margin-left: 0.0%;
}

.jz_web_header .jz_nav {
}

.jz_web_header .jz_nav_item {
}

    .jz_web_header .jz_nav_item:not(.sub_nav_item) {
    }

.jz_web_header .nav_item_septal {
}

.jz_web_header .jz_nav_layout0 .sub_nav_list, .jz_web_header .jz_nav_layout0 .three_nav_list {
}

.jz_web_header .jz_nav_layout0 .sub_nav_item, .jz_web_header .jz_nav_layout0 .three_nav_item {
}

.jz_web_header .sub_nav_list, .jz_web_header .three_nav_list {
}

.jz_web_header .sub_nav_item, .jz_web_header .three_nav_item {
    text-decoration: none;
    font-weight: normal;
    font-style: normal;
}

.jz_mobi_header .jz_nav_item {
}

.jz_mobi_header .sub_nav_item {
}

.jz_mobi_header .sub_nav_item_text {
}

.jz_mobi_header .three_nav_item {
}

.jz_mobi_header .three_nav_item_text {
}

.s_member_login {
    margin-top: 2.3923444976076556%;
}

.s_member_login {
    margin-right: 38.197767145135565%;
}

.s_member_login {
    margin-bottom: 0.0%;
}

.s_member_login {
    margin-left: 38.197767145135565%;
}

@media screen and (min-width: 769px) {
    .jz_website_title_wrap {
        margin-top: 2.9258098223615465%;
    }

    .jz_website_title_wrap {
        margin-right: 51.31744040150564%;
    }

    .jz_website_title_wrap {
        margin-bottom: 0.0%;
    }

    .jz_website_title_wrap {
        margin-left: 1.631116687578419%;
    }
}

@media screen and (max-width: 768px) {
    #jz_website_title .logo_wrap {
        width: 34.88372093023256px;
    }
}

@media screen and (min-width: 769px) {
    .jz_banner .banner_pic .banner_pic_group {
        padding-bottom: 41.614582%;
    }
}

.jz_banner .banner_pic .banner_pic_0 .banner_pic_item {
    background-image: url(//18218994.s61i.faiusr.com/2/AD0I8v-XCBACGAAg-afE_AUolI6k5wMwgA84nwY.jpg);
    background-size: cover;
    background-position: 50% 50%;
}

.jz_banner .banner_pic .banner_pic_1 .banner_pic_item {
    background-image: url(//18218994.s61i.faiusr.com/2/AD0I8v-XCBACGAAg06On4AUorNqTpgQw_g44oAY.jpg);
    background-size: cover;
    background-position: 50% 50%;
}

@media screen and (max-width: 768px) {
    .jz_banner .banner_pic .banner_pic_group {
        padding-bottom: 41.614583333333336%;
    }

    .jz_banner .banner_pic .banner_pic_0 .banner_pic_item {
        background-image: url(//18218994.s61i.faiusr.com/2/AD0I8v-XCBACGAAg-afE_AUolI6k5wMwgA84nwY.jpg);
        background-size: cover;
        background-position: 50% 50%;
    }

    .jz_banner .banner_pic .banner_pic_1 .banner_pic_item {
        background-image: url(//18218994.s61i.faiusr.com/2/AD0I8v-XCBACGAAg06On4AUorNqTpgQw_g44oAY.jpg);
        background-size: cover;
        background-position: 50% 50%;
    }
}

.g_header {
    background: rgba(51,51,51,1);
}

.g_header__static .g_header_content {
    background: rgba(51,51,51,1);
}
